<div class="newCalendarContainer">

<h1>Your Calendars</h1>

{{#each cal}}
  <div class="currentCalendars" id="{{id}}">
    <h2>Name: {{name}}</h2>
    <h3>Description: {{description}}</h3>
    <p>Owner: {{isOwner}}</p>
    <hr>
  </div>
{{/each}}

<h1>Pending Calendars</h1>

{{#each uncal}}
  <div class="pendingCalendars" id="{{id}}">
    <h2>Name: {{name}}</h2>
    <h3>Description: {{description}}</h3>
    <hr>
  </div>
{{/each}}

</div>
